# Dependencies
node_modules/

# Logs and caches
npm-debug.log*
*.log
.cache/

# OS / editor
Thumbs.db
Desktop.ini
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# Optional local env
.env
.env.*

# Excel temp lock files (~$...)
~$*.xlsx

# Generated print / staging workbooks (recreated by npm scripts)
/R35 Diagram Prints A4.xlsx
/R35 Sheet1 Print A4 Landscape.xlsx
/R35 Master Parts Catalog_NEW.xlsx
